*{
    margin: 0;
    padding: 0;
}



body{
    background-color:#bfc9f3 ;  
}

.row{
    margin-top: 7%;
}
h1{
    text-align: center;
    margin-top: 100%;
}
h1 span{
    color: var(--color-main);
}
.navbar-brand span{
    color: var(--color-main);
    font-size: 130%;
    font-weight: bold;
}

a.navbar-brand  {
    font-size: medium ;
}

.offcanvas-body button{
    position: absolute;
    bottom: 15px;
    width: 98%;
    right: 10px;
    font-weight: bold;
    left: 5px;
    text-align: center;
 
}